* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('/img/f2.jpg');
    background-size:cover;
    background-position: end;
}

ul {
    padding: 10px;
}

li {
    display: inline;
    justify-content: center;
    padding: 10px 15px; 
    margin: 1em;
}

li a {
    color: #ffffff;
    line-height: 25px;
    font-size: 20px; 
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}

li a:hover {
    color: rgba(0, 0, 0, 0.945);
    text-decoration: none;
    list-style: none;
}

#encabezado-main {
    width: 70%;  
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(190, 106, 211);
    margin: 1em;
    background-color: #070707;
    border-radius: 5px;
}

#contenedor-main {
    margin-top: 50px;
    width: 80%; 
    max-width: 700px; 
    height: auto;
    background-color: #7532c6af;
    border-radius: 5px;
    padding: 20px;  
}

@media screen and (max-width: 768px) {
    li {
        display: block;  
        margin: 1em 0;
    }

    li a {
        font-size: 18px; 
    }

    #encabezado-main,
    #contenedor-main {
        width: 90%; 
    }
}
