body {
    background-image: url('/img/fv.jpg');
    background-size: cover;
    background-position: end;
    margin: 0;  
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.form-text {
    color: rgba(240, 248, 255, 0.457);
}

.card {
    margin-top: 40px;
    color: rgb(245, 242, 242);
    background-color: rgba(2, 186, 14, 0.165);
    box-shadow: 0 4px 4px rgba(253, 253, 253, 0.1); 
    max-width: 400px;  
} 
@media screen and (max-width: 350px) {
    body{
        background-position: center;
    }
    .card { 
        max-width: 90%; 
        margin-top: 10px;  
    }
    .form-label,
    .form-control,
    .form-text,
    .btn-primary {
        font-size: 20px;  
    }
    h2{
        font-size: 25px;
    }
}