body {
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center; 
    background-image: url('/img/fv2.jpg'); 
    background-size:cover;    
    color: rgb(255, 255, 255);
}

form {
    text-align: center;
    width: 80%;  
    max-width: 400px;  
}

#productosContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 26px;   
}
#productosContainer img{
    max-width: 100%;
    max-height: 200px; 
}
h1 {
    text-align: center;
    color:rgb(100, 11, 90);
    background-color: rgba(250, 235, 215, 0.204);
}

label {
    display: block;
    margin-bottom: 8px; 
}

input,
textarea,
select {
    width: 100%;
    margin-bottom: 16px;
    padding: 8px;
    box-sizing: border-box;
    background-color: #a769b53d;
}

button {

    padding: 15px;
    background-color: #8c4caf;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #a769b5;
}

#imagenContainer img {
    max-width: 100%;
    max-height: 200px; 
    display: block;
    margin: auto;
}

#urlInput {
    margin-top: 8px;
}
